@charset "UTF-8";

/* Em HTML id = # em CSS (so um elemento)
   Em HTML class = . em CSS (varios elementos)*/
body {
    background-color: rgb(154, 231, 154);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
color:rgb(4, 56, 4); 
}

#principal {
text-align: center;
background-color: wheat;
color: black;
}

h2 {
color: rgb(43, 49, 43);
}

.basico {
    color: rgb(43, 49, 43);
}
.intermediario {
    color: rgba(229, 241, 11, 0.741);
}
.avancado {
    color: rgb(224, 25, 25);
}
.destaque {
    background-color: rgba(49, 49, 5, 0.333);
}